# ---- GitHub 忽略文件夹 ----
.git/
.mixin.out/
BeLoong-natives/
crash-reports/
CustomSkinLoader/
datapacks/
debug/
defaultconfigs/
downloads/
dragon-survival/
dynamic-resource-pack-cache/
fancymenu_data/
local/
logs/
mods/
patchouli_books/
PCL/
resourcepacks/
saves/
screenshots/
shaderpacks/
slideshow/
tlm_custom_pack/
xaero/
XaeroWaypoints_BACKUP240807/

# ---- GitHub 忽略文件 ----
BeLoong.jar
BeLoong.json
command_history.txt
emi.json
patchouli_data.json
servers.dat
usercache.json
usernamecache.json

# ---- 忽略部分 kubejs 文件 ----
kubejs/mcdoc/
kubejs/spyglass/
kubejs/spyglass.json

# ---- 仅追踪部分 config ----
config/**

!config/artifacts/
!config/artifacts/**
!config/explorerscompass/
!config/explorerscompass/**
!config/fancymenu/
!config/fancymenu/**
!config/fdbosses/
!config/fdbosses/**
!config/fdlib/
!config/fdlib/**
!config/ftbquests/
!config/ftbquests/**
!config/iceandfire/
!config/iceandfire/**
!config/incontrol/
!config/incontrol/**
!config/l2_configs/
!config/l2_configs/**
!config/l2configs/
!config/l2configs/**
!config/ModernUI/
!config/ModernUI/**
!config/mystiasizakaya/
!config/mystiasizakaya/**
!config/paxi/
!config/paxi/**
!config/regions_unexplored/
!config/regions_unexplored/**
!config/touhou_little_maid/
!config/touhou_little_maid/**
!config/voicechat/
!config/voicechat/**

!config/alshanex_familiars-common.toml
!config/appleskin-client.toml
!config/asteorbar-client.toml
!config/asyncparticles.properties
!config/beyonddimensions-common.toml
!config/biomemusic.json
!config/bosses_of_mass_destruction.json5
!config/bosses_rise_config.toml
!config/butchercraft-common.toml
!config/c2me.toml
!config/carryon-client.toml
!config/carryon-common.toml
!config/cataclysm.toml
!config/clientsort.json
!config/clientsort-server.json
!config/curios-client.toml
!config/curios-common.toml
!config/curios-server.toml
!config/darkdoppelganger-common.toml
!config/defaultoptions-common.toml
!config/DistantHorizons.toml
!config/dragonsurvival-client.toml
!config/dragonsurvival-server.toml
!config/dummmmmmy-client.toml
!config/dummmmmmy-common.toml
!config/enchantinginfuser-server.toml
!config/entity_model_features.json
!config/entity_texture_features.json
!config/entity_tracker-client.toml
!config/entityculling.json
!config/epitaphs-server.toml
!config/eternal_starlight.json
!config/explorerscompass-client.toml
!config/explorerscompass-common.toml
!config/exposure_polaroid-client.toml
!config/exposure_polaroid-server.toml
!config/exposure-client.toml
!config/exposure-common.toml
!config/exposure-server.toml
!config/extradelight-common.toml
!config/ftbchunks-world.snbt
!config/ftbessentials.snbt
!config/ftblibrary-client.snbt
!config/ftbquests-client.snbt
!config/ftbultimine-client.snbt
!config/ftbultimine-server.snbt
!config/ftbxmodcompat.snbt
!config/irons_spellbooks-client.toml
!config/irons_spellbooks-server.toml
!config/jecharacters-client.toml
!config/jecharacters-extra.json
!config/jeed-client.toml
!config/jei-server.toml
!config/jupiter.json
!config/lootr-client.toml
!config/lootr-common.toml
!config/melodymagic-common.toml
!config/MobCatcher.toml
!config/mowziesmobs-client.toml
!config/mowziesmobs-common.toml
!config/mystias_izakaya-client.toml
!config/mystias_izakaya-common.toml
!config/nanny-server.toml
!config/naturescompass-client.toml
!config/naturescompass-common.toml
!config/netherdepthsupgrade-common.toml
!config/netmusic-common.toml
!config/sweeper-common.toml
!config/terra_curio-client.toml
!config/terra_curio-common.toml
!config/terra_curio-startup.toml
!config/terra_entity-client.toml
!config/terra_entity-server.toml
!config/terrablender.toml
!config/torchmaster.toml
!config/touhou_little_maid-common.toml
!config/touhou_little_maid-server.toml
!config/transmog.json
!config/travelerstitles-neoforge-1_21.toml
!config/tslatentitystatus-client.toml
!config/twilightforest-client.toml
!config/twilightforest-common.toml
!config/undergarden-client.toml
!config/undergarden-common.toml
!config/yes_steve_model-client.toml
!config/yes_steve_model-server.toml
