# ---- GitHub 忽略文件夹 ----
.mixin.out/
BeLoong-natives/
CustomSkinLoader/
defaultconfigs/
downloads/
dynamic-resource-pack-cache/
fancymenu_data/
local/
logs/
mods/
patchouli_books/
PCL/
resourcepacks/
saves/
shaderpacks/
tlm_custom_pack/
xaero/

# ---- GitHub 忽略文件 ----
BeLoong.jar
BeLoong.json
patchouli_data.json
servers.dat

# ---- 仅追踪部分 config ----
config/**

!config/fancymenu/
!config/ftbquests/
!config/iceandfire/
!config/incontrol/
!config/paxi/

!config/carryon-client.toml
!config/carryon-common.toml
!config/cataclysm.toml
!config/DistantHorizons.toml
!config/dragonsurvival-client.toml
!config/dragonsurvival-server.toml
!config/yes_steve_model-client.toml
!config/yes_steve_model-common.toml
!config/yes_steve_model-server.toml
